---
const { url, title, description, image } = Astro.props;
---
<div data-usal="fade duration-400" class="postContainer">
    <img 
        src={image.url} 
        width="480" 
        height="270" 
        alt={image.alt} />

    <div class="postInfoContainer">
        <b><a href={url}>{title}</a></b>
        <br><p>{description}</p>
    </div>
</div>

<style>
    @media screen and (max-width: 635px) {
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
        .postContainer {
            display: flex;
            flex-direction: column;
        }
    }

    .postInfoContainer a {
        font-size: 1.5rem;
        color: var(--accent);
    }

    .postInfoContainer p {
        color: var(--foreground);
    }

    .postInfoContainer {
        padding-top: 1rem;
        padding-bottom: 5rem;
    }

    @media screen and (min-width: 636px) {
        .postContainer {
            display: flex;
            flex-direction: row;
            padding: 1rem 0;
        }

        .postInfoContainer a {
            font-size: 1.5rem;
            color: var(--accent);
        }

        .postInfoContainer p {
            color: var(--foreground);
        }

        .postInfoContainer {
            padding: 0 2rem;
        }
</style>
